.diary{
    width:100%;
    height:100%;
    flex-direction: row;
    align-items: center;
    display: flex;
    overflow-y: hidden;
    overflow-x:scroll;
    position: absolute;


}

.diary div:not(.LazyLoad){
    flex:none;
    margin-right:10%;
}

.diary .left{
    width:50%;
    height:20%;
    position: fixed;
    left:0;
    z-index: 1;
    cursor:w-resize;
}
.diary .right{
    width:50%;
    height:20%;
    position: fixed;
    right:0;
    z-index: 1;
    cursor:e-resize;
}




@media (max-width: 500px){

    .diary {
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-start;
        height:90%;
        width:100%;
        position:absolute;
        top:10%;
        overflow:scroll;


    }
    .close{
        display:none;
    }

    .diary img{
        width:100%;
        height:auto;

    }

    .diary .right, .diary .left{
        display:none;
    }
    .diary .filler{
        margin-top:10%;
        width:100%!important;
    }
    .diary div:not(.LazyLoad){
        margin-right:0;
    }

}