


* {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans","calluna-sans",Sans-serif;


}
@font-face{
  font-family:"Quarto-Light";
  src:url("Quarto-Light.otf");

}
@font-face{
  font-family:"calluna-sans";
  src:url("CallunaSansRegular.otf");

}
@font-face{
  font-family:"AGaramondPro";
  src:url("AGaramondPro-Regular.otf");
}
@font-face{
  font-family:"Gill Sans";
  src:url("GillSansMTPro-Medium.otf");
}
html{
   height:100%;
   font-size: 62.5%;
 }
body{
  height:100%;
  font-size: 1.6rem;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



#root,#root >div{
  height:inherit;
}

.mobileHeader {
  display:none;
}

@media (max-width: 500px){
  /*html{*/
    /*font-size:70.3%*/
  /*}*/
}