.picList {

    height:inherit;
    width:inherit;

    position: absolute;
    display: inline-flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

}

.picList .ul {
    list-style: none;
    width:80%;
    height:70%;
    position: relative;


}

.picList .ul li {
    position: absolute;
    left: 0;
    top: 0;
    height:100%;
    width:100%;
    text-align:center;

}

.picList .ul li:not(:nth-child(3)) {
    opacity: 0;
}

.picList .ul .left {
    width: 40%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    cursor:w-resize;
}

.picList .ul .right {
    width: 40%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    cursor:e-resize;
}
.notdisplay{
    display:none;
}

@media (max-width: 500px){

    .picList .ul li {
        position: relative;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        height:auto;
        margin-top:10%;

    }
    .picList .ul li:not(:nth-child(3)) {
         opacity: 1;
    }
    .picList img{
        width:100%;
        height:auto;
    }
    .picList .ul{
        overflow:scroll;
        width: 100%;
        height: 90%;
        top:5%
    }
    .picList .ul .right, .picList .ul .left{
        display:none;
    }

}