
.project{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width:100%;

}
.wrapper{
    width:100%;
    height:100%;
    position: relative;
}

.close{
    right:5%;
    top:5%;
    width:20px;
    height:20px;

    position: fixed;

    z-index: 2;
    cursor:pointer;

}





.project  div > span {
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    color: black;
    opacity:0;
    background-color: transparent;
    font-size:1.4rem;
    font-family: Quarto-Light;
    z-index:1;



}
.project  div span span{
    height: 50%;
    display: inline-block;
}

.detailPic{
    width:inherit;
    height: 100%;
    position: fixed;
    top:0;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.project div{
    text-align: center;
    position: relative;
    background-repeat: repeat;
    cursor:pointer;
    flex:none;

}



.detailPic .ul {
    list-style: none;
    width:60%;
    height:80%;
    position: relative;

}

.detailPic .ul li {
    position: absolute;
    left: 0;
    top: 0;
    height:100%;
    width:100%;
    text-align: center;

}

.detailPic .ul li:not(:nth-child(3)) {
    opacity: 0;
}

.detailPic .ul .left {
    width: 40%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    cursor:w-resize;
}

.detailPic .ul .right {
    width: 40%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    cursor: e-resize;
}

.follow{
    position: absolute;
    z-index:2;
    font-family: Quarto-Light;
    font-size:1.2rem;
}

@media (max-width: 500px) {
    .project{
        height:90%;
        width:100%;
        position:absolute;
        top:10%;
        overflow:scroll;

    }
    .wrapper{
        overflow:scroll;
    }
    .close{
        display:none;
    }

    .detailPic .ul li {
        position: relative;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        height:auto;
        margin-top:10%;
    }
    .detailPic .ul li:not(:nth-child(3)) {
        opacity: 1;
    }
    .detailPic img{
        width:100%;
        height:auto;
    }
    .detailPic .ul{
        overflow:scroll;
        width: 100%;
        height: 90%;
        top:5%
    }
    .detailPic .ul .right, .detailPic .ul .left {
        display: none;
    }
    .project div:not(.LazyLoad){
        width:100% !important;
        height:auto !important;
        background-image: none!important;
    }

}
